<%= stylesheet_link_tag 'auction' %>
<%= javascript_include_tag 'jquery_cookie' %>

<form class="subscb">
  <label>Subscribe</label>
  <input type="text" />
</form>

<% if @product %>
  <div id="product-images">
    <div id="main-image">
      <%= render 'image' -%>
    </div>
  </div>

  <div id="product-description">
    <%= @product.description.gsub(/^(.*)$/, '<p>\1</p>') rescue t("product_has_no_description") %>
  </div>

  <ul class="list">
    <% @product.variants.each do |variant| %>
      <% if variant.in_stock? %>
        <li><%= link_to variant.price.to_i, checkout_variant_path(:permalink => @product.permalink), :class => 'variant_link', :id => variant.id %></li>
      <% else %>
        <li class="bought"><%= link_to variant.price.to_i, checkout_variant_path(:permalink => @product.permalink), :class => 'variant_link', :id => variant.id, :onclick => 'return false' %></li>
      <% end %>
    <% end %>
  </ul>

<% end %>

<script type="text/javascript" charset="utf-8">
$(".variant_link").click(function() {
    $.cookie("selected_option", $(this).attr('id'));
});
</script>
