<link rel="stylesheet" type="text/css" href="/stylesheets/auction.css">

<form class="subscb">
  <label>Subscribe</label>
  <input type="text" />
</form>

<% if @product %>
  <%= @product.name -%>
  <div id="product-images">
    <div id="main-image">
      <%= render 'image' -%>
    </div>
  </div>

  <div id="product-description">
    <% hook :product_description do %>
      <%= product_description(@product) rescue t("product_has_no_description") %>
    <% end %>
  </div>

  <ul class="list">
    <% @product.variants.each do |variant| %>
      <% if variant.in_stock? %>
        <li><%= link_to variant.price.to_i, checkout_variant_path(variant) %></li>
      <% else %>
        <li class="bought"><%= variant.price.to_i %></li>
      <% end %>
    <% end %>
  </ul>

<% end %>
