<%= @product.name -%>
<div id="product-images">
  <div id="main-image">
    <%= render 'image' -%>
  </div>
</div>
<div id="product-description">
  <% hook :product_description do %>
    <%= product_description(@product) rescue t("product_has_no_description") %>
  <% end %>
</div>

<table border="1">
  <tr>
    <% @product.prices.each_with_index do |price,index| %>
      <%= '</tr><tr>' if index % 10 == 0 %>
      <td>
        <% if price.sold %>
          <%= price.id %>
        <% else %>
          <%= link_to price.price, product_path(@product, :price_id => price.id), :class => 'price_change_link' %>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>
